<app-navbar></app-navbar>
<app-security></app-security>
<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>

<!----------------For SideBar--------------------------------- -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<!----------------For SideBar--------------------------------- -->
<nav
  class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
  style="display: none; z-index: 2; width: 40%; min-width: 300px"
  id="mySidebar"
>
  <a
    href="javascript:void(0)"
    onclick="w3_close()"
    class="w3-bar-item w3-button"
    >Close Menu</a
  >
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Food</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top sticky-top nav-element"
>
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #c6ad8f" href="#">Coupons Here!!</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-person"
        (click)="registrationHandler()"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />

      </svg> <b>For UserRegistration</b>

    <br><br>






    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2">
        <ul class="navbar-nav">
          <br />

          <li></li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">sponsors</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/login">User Login</a>
          </li>
        </ul>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >Admin Sign In</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/coupon"
            >Coupons</a
          >
        </li>

        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/admin-dashboard">Admin</a>
        </li>-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <!-- creating button for google auth -->



        <button class="btn btn-block google-sign-in" (click)="signInHandler()">
          <img [src]="'assets/images/google.svg'" alt="google" />
          <span></span>
        </button>


        <!--...................................................................................................................-->
      </ul>
      <!--<button class="btn btn-warning navbar-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign In</button>-->
      <!-- <button class="btn btn-warning">Register</button> -->
    </div>
  </div>

  <br>

    <br>

      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-newspaper" (click)="toNews()" viewBox="0 0 16 16">
        <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
      </svg>   <b>WORLD NEWS</b>


</nav>

<!-- For Side bar -->

<!--zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz-->

<footer class="container" class="fixed-bottom sticky-bottom p-1 footer-element">
  <div>
    <div class="row">
      <div class="col-md-3">
        <span class="copyright text-clack"
          >Copyright&nbsp;©Your Coupons are Here 2021</span
        >
      </div>
      <div class="col-md-2">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/Ashutosh434" target="_blank"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <span style="color: black; padding-left: 400px"
              >Feel free to Contribute</span
            >
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-inline">
          <!-- <span style="color: #fed136;">Contribute Now<i class="fa fa-inr" style="color: #fed136; margin-right: 10px;">100</i></span> -->
          <!-- <li class="list-inline-item"><p style="color: #fed136;">Contribute Now</p></li>
          <li class="list-inline-item"><i class="fa fa-inr" aria-hidden="true"  style="color: #fed136;">100</i></li> -->
          <li>
            <google-pay-button
              (loadpaymentdata)="onLoadPaymentData($event)"
              [paymentRequest]="{
                apiVersion: 2,
                apiVersionMinor: 0,
                allowedPaymentMethods: [
                  {
                    type: 'CARD',
                    parameters: {
                      allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
                      allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
                    },
                    tokenizationSpecification: {
                      type: 'PAYMENT_GATEWAY',
                      parameters: {
                        gateway: 'example',
                        gatewayMerchantId: 'exampleGatewayMerchantId'
                      }
                    }
                  }
                ],
                merchantInfo: {
                  merchantId: '',
                  merchantName: 'Ashutosh Guha'
                },
                transactionInfo: {
                  totalPriceStatus: 'FINAL',
                  totalPriceLabel: 'Total',
                  totalPrice: '10.00',
                  currencyCode: 'INR',
                  countryCode: 'IN'
                }
              }"
              buttonColor="white"
              buttonSizeMode="fill"
              buttonType="pay"
              environment="TEST"
            >
            </google-pay-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
