
<html>
<!-- <h1> {{news1}} </h1> -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="news.component.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <div class="text-center">

  <div class="m-3">
    <br />
  </div>
  <div class="table-responsive">
    <table class="table table-#D3D3D3 table-hover">
      <thead>
        <tr>
          <th>Article</th>
          <th>Source</th>
          <th>Author</th>
          <th>Title</th>
          <th>Description</th>
          <th>URL</th>
          <th>UrlToImage</th>
          <th>Published At</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of news">
          <td>
            <span>{{ product.news.article }}</span>
          </td>
          <td>
            <span>{{ product.news.article.source.name }}</span>
          </td>
          <td>
            <span>{{ product.news.article.author }}</span>
          </td>
          <td>
            <span>{{ product.news.article.title }}</span>
          </td>
          <td>
            <span>{{ product.news.article.description }}</span>
          </td>
          <td>
            <span>{{ product.news.article.url }}</span>
          </td>
          <td>
            <span>{{ product.news.article.urlToImage }}</span>
          </td>
          <td>
            <span>{{ product.news.article.publishedAt }}</span>
          </td>
          <td>
            <span>{{ product.news.article.content }}</span>
          </td>
          <td class="text-center">

          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div> -->

<section class="recentNews">
  <div class="container">
    <h2 class="news-title">Recent News</h2>
    <div class="row">
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxbusiness.com/markets/buyers-aghast-used-car-prices-soar"><img alt="News Entry" src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2022/01/562/316/usedcars.jpg?tl=1&ve=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>JANUARY</span><strong>1</strong>
            </div>
            <h3 class="ct-blog-header">
              Blue state makes major shift in COVID guidance for health care workers after firing the unvaccinated
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxbusiness.com/lifestyle/joe-biden-backlash-fda-process-booster-shots-children"><img alt="News Entry" src="https://a57.foxnews.com/hp.foxnews.com/images/2022/01/1024/576/eb5779a3e6d6e8aba693914bc7e05a86.png?tl=1&ve=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>JANUARY</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Critics rip Biden FDA's approval for kids' booster as 'slap in the face to science'
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxnews.com/us/new-york-woman-arrested-coronavirus-vaccine-injection-report"><img alt="News Entry" src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2021/06/1024/576/military_vaccines_istock.jpg?tl=1&ve=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>JANUARY</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              New York woman arrested for allegedly injecting teen with COVID vaccine
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxnews.com/entertainment/harry-potter-producers-admit-photo-emma-roberts-emma-watson"><img alt="News Entry" src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/01/1024/576/Antonio-Brown13.jpg?tl=1&ve=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>JANUARY</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Report reveals what led to Antonio Brown's shocking meltdown
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxnews.com/entertainment/harry-potter-producers-admit-photo-emma-roberts-emma-watson"><img alt="News Entry" src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/01/931/524/Watson-Roberts-Getty.jpg?ve=1&tl=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>JANUARY</span><strong>2</strong>
            </div>
            <h3 class="ct-blog-header">
              Harry Potter' reunion producers admit to using photo of Emma Roberts instead of Emma Watson
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.foxnews.com/world/british-government-covid-19-tests-schools-kids-return#"><img alt="News Entry" src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/01/1862/1048/borisjohnson.jpg?ve=1&tl=1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>February</span><strong>16</strong>
            </div>
            <h3 class="ct-blog-header">
              British government rushes COVID-19 tests to schools before kids return

            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-news btn-contests">
      <a href="#">VIEW ALL NEWS</a>
    </div>
  </div>
</section>


</html>
